h1{
    font-size: 25px;
}


ul > li h1 {
    cursor: pointer;
    margin:  0;
    padding: 7px 5px;
    background: #9e9e9e29;
    font-size: 20px;
}

ul > li {
    list-style-type: none;
    background: #dcdcdc36;
    border: 1px solid #80808078;
}